@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
  --color-light-blue: rgb(0, 100, 177);
  --color-light-green: rgb(45, 254, 84);
  --color-light-red: rgb(247, 52, 48);
  --color-gray: rgb(217, 217, 217);
  --color-gift-section: rgba(22, 45, 80, 0.9);
  --btn-color-blue: rgba(0, 18, 177, 0.5);
  --btn-color-purple: rgba(120, 0, 177, 0.7);
  --bg-color-img: rgb(0, 100, 177, 0.5);
}

/**** SIDE BAR ****/
nav.side__bar {
  @apply h-[100vh] absolute lg:relative top-0 lg:left-0 transition-all duration-300 z-40;
}

.side__bar div {
  @apply bg-gray-300;
}

body {
  /* background-color: white;
  color: rgba(0, 0, 0, 0.8); */
  font-family: "Poppins", sans-serif;
}
